<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div style="margin-bottom: 20px">
        <p>
            Welcome <b>[[${email}]]</b>
        </p>
        <div style="display: inline-block">
            <form th:action="@{/myproducts}" method="get">
                <button type="submit"class=" btn btn-light">My products list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/products}" method="get">
                <button type="submit"class=" btn btn-light">Products list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/users}" method="get">
                <button type="submit"class=" btn btn-light">Users list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-light">Sign Out</button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <h2>Edit product</h2>
        </div>
    </div>

    <div class="m-3" style="max-width: 800px; margin: 0 auto;">
        <form  action="#" th:action="@{/update_product}"  th:object="${product}" method="post">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label" style="text-align: right">Id: </label>
                    <div class="col-8">
                        <input type="text" id="id" name="id"  th:value="${product.id}" class="form-control" required readonly/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label" style="text-align: right">Title: </label>
                    <div class="col-8">
                        <input type="text" id="title" name="title" th:value="${product.title}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label" style="text-align: right">Description: </label>
                    <div class="col-8">
                        <input type="text" id="description" name="description" th:value="${product.description}" class="form-control"
                               required minlength="6" maxlength="500"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label" style="text-align: right">Price: </label>
                    <div class="col-8">
                        <input type="number" id="price" name="price" th:value="${product.price}" class="form-control"
                               required minlength="2" maxlength="20" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <div style="display:inline-block;">
                            <button type="submit" class="btn btn-primary">Update product</button>
                        </div>
                        <div style="display:inline-block; right: 0">
                            <button type="button" th:onclick="|window.location.href='@{/myproducts}'|" class="btn btn-dark">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>