<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>All Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div style="margin-bottom: 20px">
        <p>
            Welcome <b>[[${email}]]</b>
        </p>
        <div style="display: inline-block">
            <form th:action="@{/myproducts}" method="get">
                <button type="submit"class=" btn btn-light">My products list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/products}" method="get">
                <button type="submit"class=" btn btn-light">Products list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/users}" method="get">
                <button type="submit"class=" btn btn-light">Users list</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form th:action="@{/logout}" method="post">
                <button type="submit"class=" btn btn-light">Sign Out</button>
            </form>
        </div>
    </div>
    <div>
        <div style="display: flex; justify-content: space-between; padding-left: 20px">
            <div style="display: flex; justify-content: center">
                <h2>All Products</h2>
            </div>
            <div style="display: flex; justify-content: right">
                <form th:action="@{/add_product}" method="get">
                    <button type="submit"class=" btn btn-light">Create product</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Product ID</th>
                <th>Title</th>
                <th>Descriptions</th>
                <th>Price</th>
                <th>Add / Remove "My products"</th>
                <th>Like / Dislike / Reset</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${listProducts}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}">Price</td>
                <td th:if="${#lists.contains(listMyProducts, product)}">
                    <div style="display: inline-block">
                        <form th:action="@{/remove-from-my-products/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit"class=" btn btn-light">Remove from my products</button>
                        </form>
                    </div>
                </td>
                <td th:unless="${#lists.contains(listMyProducts, product)}">
                    <div style="display: inline-block">
                        <form th:action="@{/add-product-to-user/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit"class=" btn btn-light">Add to my products</button>
                        </form>
                    </div>
                </td>

                <td>
                    <div style="display: inline-block">
                        <form th:action="@{/like-product/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit" th:class="${product.isLiked() && product.isCheckedLike() && product.getUsersWhoLiked().contains(user) ? 'btn enabled' : 'btn disabled'}"><i class="fa fa-arrow-circle-o-left"></i>&#128077;</button>
                        </form>
                    </div>
                    <div style="display: inline-block">
                        <form th:action="@{/dislike-product/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit" th:class="${!product.isLiked() && product.isCheckedLike() && product.getUsersWhoDisliked().contains(user) ? 'btn enabled' : 'btn disabled'}"><i class="fa fa-arrow-circle-o-left"></i>&#128078;</button>
                        </form>
                    </div>
                    <div style="display: inline-block">
                        <form th:action="@{/reset-likes/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit" class="btn btn-light">Reset</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form th:action="@{/delete-product/{id}/currentPage/{currentPage}(id = ${product.id}, currentPage = ${currentPage})}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <footer style="font-size: large" class="panel-footer">
            <div class="form-group row">
                <label class="col-2 col-form-label" style="text-align: left">Page [[${currentPage}]] of [[${totalPages}]]</label>
                <div class="col-8">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <div style="display: inline-block; margin: 3px; padding: 2px 5px; border: 1px solid #E2E6EA; color: white; border-radius: 5px 5px 5px 5px"
                             th:style="${(currentPage == i && i > 0) ? 'display: inline-block; margin: 3px; padding: 2px 5px; border: 1px solid lightgray; border-radius: 5px 5px 5px 5px; background-color: #E2E6EA; color: white;'
                             : 'display: inline-block; margin: 3px; padding: 2px 5px; border: 2px solid #E2E6EA; border-radius: 5px 5px 5px 5px'}">
                            <h5 style="margin: 0; padding-bottom: 0; color: grey"><a style="color: #000000;" th:href="@{'/products/page/' + ${i}}">[[${i}]]</a></h5>
                        </div>
                    </span>
                </div>
                <label class="col-2 col-form-label" style="text-align: right">Total Items - [[${totalItems}]]</label>
            </div>
        </footer>
    </div>
</div>
</body>
</html>